<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>KGDC订阅通知</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr><td>
        <table align="center" border="1" cellpadding="0" cellspacing="0" width="860" style="border-collapse: collapse;">
            <tr>
                <th align="center">指标</th>
                <th width="120" align="center">今日/本周</th>
                <th width="120" align="center">昨日/上周</th>
                <th width="100" align="center">日/周环比</th>
                <th width="100" align="center">周同比</th>
                <th width="120" align="center">周均</th>
                <th align="center">详情页面</th>
            </tr>
            {% for tr in rows %}
                {{tr}}
            {% endfor %}
        </table>
    </td></tr>
    </table>
</body>
</html>
